@page "/browse"
@using BirdEyes.Client.Services.ITADService;

<PageTitle> Browse Games! </PageTitle>

<strong><h1>Browse Games</h1></strong>
<br />
<EditForm Model="@BrowseInput">
	<div>
		<InputText id="Searchbar" @bind-Value="@BrowseInput.InputtedText" class="form-control" />
	</div>
</EditForm>

<table class="table" style="font-size:130%">
	<thead>
		<tr>
			<th>Title</th>
			<th>Shop</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
			@for (int i = 0; i<allGames.Count(); i++)
		{
			var game = allGames[i];
			<tr>
				<td><a href='@string.Format("https://isthereanydeal.com/#/page:game/info?plain={0}", game.Title.ToLower())'>@game.Title.ToUpper()</a></td>

				<td>@game.Shop.ToUpper()</td>

				@if (game.Price == 0 | game.Price == null)
				{
					<td style="00FF00">Free</td>
				}
				else
				{
					<td>$@game.Price</td>
				}

				<td><a class="oi oi-star" href='@string.Format("https://isthereanydeal.com/game/{0}/info/#/page:game/wait?plain={0}", game.Title.ToLower())' /></td>
			</tr>
			}

		</tbody> 
</table>

@code {
	private Input BrowseInput = new Input();

	List<Game> allGames = new();
	protected override async Task OnInitializedAsync()
	{
		ITADService serviceInstance = new(new HttpClient());
		allGames.AddRange(await serviceInstance.GetAllGames());
    }
}

